
/* Chrome, Safari, Edge, Opera */
html,
body,
#app,
#app > div {
  height: 100%;
  overflow-y: hidden;
  background-color: #FEFAE0;
}

#root {
  overflow-y: auto;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  color: #606C38;
}


.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  border-radius: 4px;
  font-size: 1em;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.new-button-container {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnavbutton {
  display: flex;
  justify-content: "space-between";
  align-items: center;
  border: none;
  padding : 10px;
}

.topnavbutton:hover {
  filter: brightness(85%);
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: "center";
}

@media screen and (max-width: 416px) {
  .pictures {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1%
  }
}

.login-container {
  background-color: #282c34;
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: x-large;
}

.desc-title {
  text-align: center;
  margin-top: 25px;
  font-size: large;
}

.login {
  color: #282c34;
  padding: 25px;
  border-radius: 4px;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  flex-direction: column;
}

.login-field {
  display: flex;
  flex-direction: row;
}

.remove-button{
  position: absolute;
}

.img-container {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
}

.hover-over-img {
  image-rendering: auto;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
}

.question-button {
  border-radius: 8px;
  position: absolute;
}

.popup {
  position: absolute;
  border-radius: 8px;
  background-color: #d4d9e1;
  color: #282c34;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  align-items: center;
  animation-name: pop-move-upwards;
  animation-duration: 0.5s;
  z-index: 1000;
}

.popup-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 15em;
  min-width: 10em;
}

@keyframes pop-move-upwards {
  from {
    transform: translate(-50%, -25%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

.close {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
}

.close-button {
  background-color: #d4d9e1;
  color: #201f29;
  border: none;
  font-size: 1.5em;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 1em;
  width: 1em;
}

.close-button:hover {
  background-color: #201f29;
  color: #d4d9e1;
}

.max-reached-title {
  padding: 10px;
  margin: 10px;
  color:  #ffffff;
  background-color: #ff1919;
  border-radius: 4px;
}